@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    align-items: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

/* Ask about this flex section */

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0% 12px;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom:20px;
    text-align: center;
}

.container {
    padding: 50px 0px;
}

html {
    scroll-behavior: smooth;
}

a {
    position: relative;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

i:hover {
    opacity: 0.7;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    transition: all 0.3s ease;
}
.link__hover-effect--white:after {
    background-color: #fff;
}
.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

/* NAVIGATION BAR*/

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f8f8;
}

.nav__links {
    display: flex;
    gap: 20px;
}   

.nav__link--anchor {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    transition: color 0.3s ease;
    margin: 0 12px;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    
}
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
  
}
.name__logo {
    font-size: 24px;
    font-weight: 700;
    color: #6030b1;
    margin: 0 12px;
}


/* ABOUT ME SECTION */

#aboutme {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.aboutme__info {
    display: flex;
    flex-direction: column;
}
.aboutme__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.wave {
    display: inline-block;
    animation: animate-wave 2s infinite ease-in-out;
}

@keyframes animate-wave {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(14deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    40% {
        transform: rotate(14deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.aboutme__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: animate-profile-pic 800ms 200ms backwards;
}

@keyframes animate-profile-pic {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.aboutme__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}

.text__purple {
    color: #6030b1;
    font-weight: 700;
}
.aboutme__info--description {
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
    animation: fade-up 650ms 600ms backwards;
    
}
.aboutme__info--title {
    margin-bottom: 12px;
    animation: fade-up 650ms 400ms backwards;
}

.aboutme__link {
    font-size: 20px;
    padding: 0 16px;
    color: black;
    text-decoration: none;
}

.aboutme__links {
    animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.aboutme__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
}

.aboutme__img--container img {
    width: 100%;
    animation: fade-in 1200ms 800ms backwards
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Tech Stack Section */

.language__img {
    width:100%;
    max-width: 100px;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
    transition: transform 0.3s ease;
}
.language {
     width:25%;
     display: flex;
    position: relative;
    justify-content: center;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 25px 16px;

}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: transform 0.3s ease;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

/* Projects Section */

.project {
    margin-bottom: 120px;
    position:relative;
}

.project:last-child {
    margin-bottom: 40px;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow:hidden;
    position:relative;
}   
.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.5;
}
.project__img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__list {
    padding: 40px;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    opacity: 0;
    z-index: 3;
    transition: transform 450ms ease, opacity 0.3s ease;
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}
.project__description--title {
    font-size: 40px;
    margin-bottom: 12px;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project__description--title,
.project__description--subtitle,
.project__description--para,
.project__description--link {
    text-align: left;
    color: #fff;
}

/* Footer */

footer {
    padding: 20px 0;
    text-align: center;
    max-height: 500px;
    height: 100%;
}
.footer__row {
    background-color: #242424;
    max-width: 100%;
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    width: 300px;
    height: auto;
    overflow: hidden;
    margin: 16px auto;
    border-radius: 16%;
}

.footer__social--lists {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    margin-bottom: 12px;
}

.footer__social--link,
.footer__copyright {
    color: #f8f8f8;
    font-size: 20px;
    text-decoration: none;
}

.footer__copyright {
    font-size: small;
    margin-top: 8px;
}

.footer__logo--mask {
    display: flex;
    position: relative;
}

.footer__logo--popper {
    font-size: 20px;
    color: #f8f8f8;
    right: 100px;
    top: 100px;
    opacity: 0;
    position: absolute;
}

.footer__logo--mask:hover .footer__logo--popper {
    opacity: 1;
    transform: translateX(80px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Tablets, and large smartphones*/
@media (max-width: 768px) {
    nav {
        height: 68px;
        }

    h1 {
        font-size: 28px;
    }

    .aboutme__info--description {
        font-size: 18px;
    }

    .language {
        width: calc(100%/2);
    }

    .project__description--para {
        font-size: 14px;
    }

    .project__description {
        padding-right: 30px;
        left: 30px;
    }

}

/*Small phones*/
@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }
    nav {
        height: 68px;
        }

    h1 {
        font-size: 28px;
    }

    .aboutme__info--description {
        font-size: 18px;
    }

    .language {
        width: calc(100%/2);
    }

    .project__description--para {
        display: none;
    }

    .project__description--links {
        display: flex;
        justify-content: center;
    }
    .project__description {
        padding: 0;
        left:0;
        width: 100%;
    }
    
    .project__description--subtitle {
        text-align: center;
        margin-bottom: 8px;
        
    }
    .project__description--title {    
        text-align: center;
        line-height: 1;
        font-size: 30px;
    }
}
